
@{
    ViewBag.Title = "Home";
}


<!-- banner -->
<div id="da-slider" class="da-slider">
    <div class="da-slide">
        <h2>Our Reach</h2>
        <p>
            We have developed a wide distribution network. The close-connected and expansive supply
            management chain has enabled us to attain the trust of many eminent clients.
        </p>
        <a href="aboutus.html" class="da-link">Read more</a>
        <div class="da-img"><img src="~/images/4.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Our Vision</h2>
        <p>
            To create a world class fully integrated manufacturing company To be able to create constant value for
            our clients & Distributors.
        </p>
        <a href="aboutus.html" class="da-link">Read more</a>
        <div class="da-img"><img src="~/images/3.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Our Mission</h2>
        <p>
            Is to provide high quality products consistently and provide environment for constant innovation. To be
            able to achieve high level of manufacturing expertise.
        </p>
        <a href="aboutus.html" class="da-link">Read more</a>
        <div class="da-img"><img src="~/images/1.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Our Clients</h2>
        <p>
            We design and manufacture Car Seat Covers only after evaluating and analysing the demands of the end
            users. Thus, A number of big and small client trusts on us. We covered the market of pan India.
        </p>
        <a href="ourclients.html" class="da-link">Read more</a>
        <div class="da-img"><img src="~/images/2.png" alt="image01" /></div>
    </div>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>

<!-- //banner -->
<!-- banner-bottom -->
<div id="about" class="banner-bottom wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s">
    <div class="container">
        <h3>ABOUT COMPANY</h3>


        <div class="col-md-6 bottom-grid multi-gd-text">

            <p>
                ACURA CAR SEAT COVER is a trusted Manufacturer, Supplier, and Exporter of all types of original shapes
                bucket fitting Car Seat Covers. Our name is closely associated with trust among Car Manufacturing
                Companies and Car Seat Covers Retail Outlets in India. The company is based in the Uttar Pradesh
                Ghaziabad. The company is flourishing under the expert supervision of Mr. Anoop Malviya, CEO of the
                Company. Leather is not original leather, this leather is composite/leather look having a good
                performance.
            </p>
        </div>

        <div class="col-md-6 bottom-grid multi-gd-text">
            <a href="#"><img src="~/images/pic6A.jpg" alt=" " /></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- services -->
<div class="main_ser w3layouts-agileinfo">
    <div class="container">
        <div class="col-md-7 main_ser_one w3l-agile wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <h3>PU Leather Car Seat Cover</h3>
            <p>
                We are a distinguished Manufacturer, Exporter & Supplier of a wide assortment of qualitative cum
                durable Car Seat Covers. We design Car Seat Covers using quality material and the sophisticated
                technology. Superior quality and high aesthetics are the words that define our Car Seat Covers the best.
                The Car Seat Covers that we provide conform to the international quality standards and are available in
                many unique colors and designs to allure the eyes of the customers. Our range Includes NOVA PU
                Leather with leaker coating CAR Seat Cover, NAPA Leather with Leaker Coating CAR Seat Cover,
                Stallion PU Leather CAR Seat Cover , SAKA PU Leather CAR Seat Cover, ROMA PU Leather CAR Seat
                Cover, fabric like Microsoft CAR Seat Cover (this leather is composite/leather look having a good
                performance).
            </p>
            <div class="cont-grids">
                <div class="col-sm-6 cont-grid-one">
                    <div class="cont-grid-left wel-grid">
                        <div class="btm-clr4">
                            <figure class="icon">
                                <img src="~/images/icon1.png" alt=" " />
                            </figure>
                        </div>
                    </div>
                    <div class="cont-grid-right">
                        <h4>NOVA PU Leather with leaker coating CAR Seat Cover</h4>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 cont-grid-one">
                    <div class="cont-grid-left wel-grid">
                        <div class="btm-clr4">
                            <figure class="icon">
                                <img src="~/images/icon2.png" alt=" " />
                            </figure>
                        </div>
                    </div>
                    <div class="cont-grid-right">
                        <h4>NAPA Leather with Leaker Coating CAR Seat Cover</h4>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 cont-grid-one yes_magr">
                    <div class="cont-grid-left wel-grid">
                        <div class="btm-clr4">
                            <figure class="icon">
                                <img src="~/images/icon3.png" alt=" " />
                            </figure>
                        </div>
                    </div>
                    <div class="cont-grid-right">
                        <h4>Stallion PU Leather CAR Seat Cover</h4>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 cont-grid-one yes_magr">
                    <div class="cont-grid-left wel-grid">
                        <div class="btm-clr4">
                            <figure class="icon">
                                <img src="~/images/icon1.png" alt=" " />
                            </figure>
                        </div>
                    </div>
                    <div class="cont-grid-right">
                        <h4>SAKA PU Leather CAR Seat Cover</h4>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-sm-6 cont-grid-one yes_magr">
                    <div class="cont-grid-left wel-grid">
                        <div class="btm-clr4">
                            <figure class="icon">
                                <img src="~/images/icon1.png" alt=" " />
                            </figure>
                        </div>
                    </div>
                    <div class="cont-grid-right">
                        <h4>ROMA PU Leather CAR Seat Cover</h4>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-5 main_ser_two w3l-agile wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <img class="img-responsive" src="images/pic3.jpg" alt=" " />
            <h4>Also we'd like to inform you that we, Designer Car Seat cover use:</h4>
            <div class="accordion">
                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-1">
                        Best Raw material  <i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
                    </a>
                    <div id="accordion-1" class="accordion-section-content">
                        <p>
                            Best Raw material (with a Two years warranty)
                        </p>
                    </div>
                </div>

                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-2">
                        High class Hi density Foam<i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
                    </a>
                    <div id="accordion-2" class="accordion-section-content">
                        <p>High class Hi density Foam (14 mm with 28 density)</p>
                    </div>
                </div>

                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-3">
                        Branded PU leather <i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
                    </a>
                    <div id="accordion-3" class="accordion-section-content">
                        <p>
                            Branded PU leather (NOVA PU with leaker coating, NAPA with Leaker Coating, Stallion PU, SAKA
                            PU, ROMA PU .. etc fabric like microsoft)
                        </p>
                    </div>
                </div>
                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-4">
                        Packing <i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
                    </a>
                    <div id="accordion-4" class="accordion-section-content">
                        <p>Packing in full bag of tatron with an extra display bag and polythene 30x40 size.</p>
                    </div>
                </div>
                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-5">
                        Stitched <i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
                    </a>
                    <div id="accordion-5" class="accordion-section-content">
                        <p>Full set stitched by nylon thread in 6 ply</p>
                    </div>
                </div>


            </div>
            <script>
							jQuery(document).ready(function() {
								function close_accordion_section() {
									jQuery('.accordion .accordion-section-title').removeClass('active');
									jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
								}

								jQuery('.accordion-section-title').click(function(e) {
									// Grab current anchor value
									var currentAttrValue = jQuery(this).attr('href');

									if(jQuery(e.target).is('.active')) {
										close_accordion_section();
									}else {
										close_accordion_section();

										// Add active class to section title
										jQuery(this).addClass('active');
										// Open up the hidden content panel
										jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
									}

									e.preventDefault();
								});
							});
            </script>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //services -->