
@{
    ViewBag.Title = "Our Client";
}
<!-- banner -->
<div class="banner page_head">

</div>
<!-- //banner -->
<!-- services -->
<div class="services">
    <div class="container">
        <h3>Clients</h3>
        <div class="col-md-12 ser-left-grid w3-agile">
            <h4>Our Clients</h4>
            <p>
                We design and manufacture Car Seat Covers only after evaluating and analysing the demands of the end
                users. Thus, A number of big and small client trusts on us. We covered the market of pan India.
            </p>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Clients Name</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Smart Car bazaar</td>
                        <td>Hoshangabad, Madhya Pradesh</td>
                    </tr>
                    <tr>
                        <td>Bombay Car link</td>
                        <td>Nagpur, Maharashtra</td>
                    </tr>
                    <tr>
                        <td>New Pooja </td>
                        <td>Indore, Madhya Pradesh</td>
                    </tr>
                    <tr>
                        <td>Shubh Car Gallary</td>
                        <td>Shivpuri, Madhya Pradesh</td>
                    </tr>
                    <tr>
                        <td>Thakur Auto Shoppee</td>
                        <td>JabalPur, Madhya Pradesh</td>
                    </tr>
                    <tr>
                        <td>Chamunda Car</td>
                        <td>Deesa, Ahemdabad</td>
                    </tr>
                    <tr>
                        <td>Jai Hind</td>
                        <td>Jal Gaon, Maharashtra</td>
                    </tr>
                    <tr>
                        <td>Car Plus</td>
                        <td>Gwalior , Madhya Pradesh</td>
                    </tr>
                    <tr>
                        <td>Shiv Shakti</td>
                        <td>Asansol, West Bengal</td>
                    </tr>
                    <tr>
                        <td>Rajkumar Car Decore</td>
                        <td>Bhopal, Madhya Pradesh</td>
                    </tr>

                </tbody>
            </table>

            <h4>Also we'd like to inform you that we, Designer Car Seat cover use:</h4>
            <ul class="list-group">
                <li class="list-group-item">Best Raw material (with a Two years warranty)</li>
                <li class="list-group-item"> High class Hi density Foam (14 mm with 28 density)</li>
                <li class="list-group-item">
                    Branded PU leather (NOVA PU with leaker coating, NAPA with Leaker Coating, Stallion PU, SAKA
                    PU, ROMA PU .. etc fabric like microsoft)
                </li>
                <li class="list-group-item"> Packing in full bag of tatron with an extra display bag and polythene 30x40 size.</li>
                <li class="list-group-item"> Full set stitched by nylon thread in 6 ply
                <li>
            </ul>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- //services -->
